WebService/WebService/Web References/WCFConvert/WCFTempService1.xsd

<?xml version="1.0"?><xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="CelsiusToFahrenheit"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Celsius" nillable="true" type="xs:string" /></xs:sequence></xs:complexType></xs:element><xs:element name="CelsiusToFahrenheitResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CelsiusToFahrenheitResult" nillable="true" type="xs:string" /></xs:sequence></xs:complexType></xs:element><xs:element name="FahrenheitToCelsius"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Fahrenheit" nillable="true" type="xs:string" /></xs:sequence></xs:complexType></xs:element><xs:element name="FahrenheitToCelsiusResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="FahrenheitToCelsiusResult" nillable="true" type="xs:string" /></xs:sequence></xs:complexType></xs:element></xs:schema>