WebService/WebService/Web References/WCFConvert/wcftempservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="WCFTempService" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://tempuri.org/Imports" targetNamespace="http://tempuri.org/Imports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="http://wcfconvert.azurewebsites.net/WCFTempService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xs:import schemaLocation="http://wcfconvert.azurewebsites.net/WCFTempService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xs:schema>
  </types>
  <message name="IConvert_CelsiusToFahrenheit_InputMessage">
    <part name="parameters" element="tns:CelsiusToFahrenheit" />
  </message>
  <message name="IConvert_CelsiusToFahrenheit_OutputMessage">
    <part name="parameters" element="tns:CelsiusToFahrenheitResponse" />
  </message>
  <message name="IConvert_FahrenheitToCelsius_InputMessage">
    <part name="parameters" element="tns:FahrenheitToCelsius" />
  </message>
  <message name="IConvert_FahrenheitToCelsius_OutputMessage">
    <part name="parameters" element="tns:FahrenheitToCelsiusResponse" />
  </message>
  <portType name="IConvert">
    <operation name="CelsiusToFahrenheit">
      <input wsaw:Action="http://tempuri.org/IConvert/CelsiusToFahrenheit" message="tns:IConvert_CelsiusToFahrenheit_InputMessage" />
      <output wsaw:Action="http://tempuri.org/IConvert/CelsiusToFahrenheitResponse" message="tns:IConvert_CelsiusToFahrenheit_OutputMessage" />
    </operation>
    <operation name="FahrenheitToCelsius">
      <input wsaw:Action="http://tempuri.org/IConvert/FahrenheitToCelsius" message="tns:IConvert_FahrenheitToCelsius_InputMessage" />
      <output wsaw:Action="http://tempuri.org/IConvert/FahrenheitToCelsiusResponse" message="tns:IConvert_FahrenheitToCelsius_OutputMessage" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_IConvert" type="tns:IConvert">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IConvert/CelsiusToFahrenheit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FahrenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/IConvert/FahrenheitToCelsius" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WCFTempService">
    <port name="BasicHttpBinding_IConvert" binding="tns:BasicHttpBinding_IConvert">
      <soap:address location="http://wcfconvert.azurewebsites.net/WCFTempService.svc" />
    </port>
  </service>
</definitions>